[Unit]
Description=Deploy service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /home/xdir/temp/services/Deploy.py

[Install]
WantedBy=multi-user.target